body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #4CAF50;
    padding: 20px;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#logo {
    color: white;
    font-size: 1.8em;
}

.about-hero {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 50px 20px;
}

.about-hero h1 {
    font-size: 2.5em;
}

.about-hero p {
    font-size: 1.2em;
    margin-top: 10px;
}

section {
    padding: 40px 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #4CAF50;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

strong {
    color: #333;
}

.follow-us {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
}

.follow-us h2 {
    font-size: 1.8em;
    color: #333;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a img {
    width: 40px;
    margin: 0 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
